In [3]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\sures\appdata\local\programs\python\python312\lib\site-packages (9.0.0)

WARNING: Ignoring invalid distribution ~ip (C:\Users\sures\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Users\sures\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Users\sures\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ip (C:\Users\sures\AppData\Local\Programs\Python\Python312\Lib\site-packages)

In [1]:
from typing_extensions import Buffer
import pandas as pd
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password=''
)
print(mydb)
mycursor=mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000020B42DE7950>

In [2]:
mycursor.execute("show databases")
for i in mycursor:
    print(i)

('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('project',)
('test',)

In [ ]:
"Id","Route_name","Route_link","Bus_name","Bus_type","Departing_time","Duration","Reaching_time","Star_rating","price"

In [10]:
mycursor.execute("create database project")

In [16]:
mycursor.execute('''create table project.Red_bus( 
                 Id int AUTO_INCREMENT PRIMARY KEY,
                 Route_name text(255) NOT NULL,
                 Route_link text(255) NOT NULL,
                 Bus_name text(225) NOT NULL,
                 Bus_type text(255) NOT NULL,
                 Departing_time time(6) NOT NULL,
                 Duration text(255) NOT NULL,
                 Reaching_time time(6) NOT NULL,
                 Star_rating Float NULL,
                 price Float NULL
                                  )''')

In [18]:
mycursor.execute("alter table project.Red_bus add Seat_availability text(225) after Bus_type")

In [40]:
mycursor.execute("alter table project.Red_bus change price price decimal(5,2) NULL after Bus_type")

In [39]:
mycursor.execute("alter table project.red_bus change Seat_availability Seat_availability int(5) NOT NULL ")

In [28]:
data=pd.read_csv(r"D:\total project\bus_data.csv")
new=data.drop(["Unnamed: 0"],axis=1)
new

,bus_name,bus_type,starting_time,time_duration,reaching_time,rating,fair_price,seats,route_link,route_name
0,APSRTC - 3589,Super Luxury (Non AC Seater 2+2 Push Back),07:15,08h 25m,15:40,0.0,469.0,33 Seats available,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
1,APSRTC - 3581,AMARAVATHI (VOLVO / SCANIA A.C Multi Axle),07:45,05h 50m,13:35,0.0,720.0,31 Seats available,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
2,APSRTC - 1446,Super Luxury (Non AC Seater 2+2 Push Back),08:00,06h 40m,14:40,4.0,469.0,32 Seats available,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
3,APSRTC - 3882,Super Luxury (Non AC Seater 2+2 Push Back),08:30,07h 05m,15:35,0.0,469.0,32 Seats available,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
4,APSRTC - 3593,Super Luxury (Non AC Seater 2+2 Push Back),08:45,08h 25m,17:10,0.0,469.0,33 Seats available,https://www.redbus.in/bus-tickets/vijayawada-t...,Vijayawada to Hyderabad
...,...,...,...,...,...,...,...,...,...,...
8353,Express Line,Volvo 9600 Multi-Axle A/C Sleeper (2+1),19:45,12h 25m,08:10,0.0,1499.0,9 Seats available,https://www.redbus.in/bus-tickets/kolkata-to-s...,Kolkata to Siliguri
8354,Maulik Paribahan,A/C Seater / Sleeper (2+2),19:45,12h 00m,07:45,0.0,1000.0,50 Seats available,https://www.redbus.in/bus-tickets/kolkata-to-s...,Kolkata to Siliguri
8355,Royal Cruiser,Volvo A/C Seater (2+2),19:45,04h 30m,00:15,0.0,523.0,2 Seats available,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
8356,Beauty Travels,NON A/C Seater / Sleeper (2+2),20:20,04h 10m,00:30,3.0,380.0,36 Seats available,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
8357,Maharani Travels,A/C Seater / Sleeper (2+1),21:05,04h 55m,02:00,2.6,740.0,23 Seats available,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)

In [25]:
mycursor.execute("use project")

In [29]:
from multiprocessing import connection


insert_data=('''insert into red_bus(
                             bus_name,
                             bus_type,
                             Departing_time,
                             Duration,
                             Reaching_time,
                             Star_rating,
                             price,
                             seat_availability,
                             route_link,
                             route_name                             
                             )values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)''')
data1=new.values.tolist()
mycursor.executemany(insert_data,data1)
mydb.commit()

In [21]:
mycursor.execute("truncate red_bus")