In [ ]:
!pip install mysql-connector-python

In [ ]:
import pandas as pd
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password=''
)
print(mydb)
mycursor=mydb.cursor(buffered=True)

In [ ]:
mycursor.execute("show databases")
for i in mycursor:
    print(i)

In [10]:
mycursor.execute("create database project")

In [16]:
mycursor.execute('''create table project.Red_bus( 
                 Id int AUTO_INCREMENT PRIMARY KEY,
                 Route_name text(255) NOT NULL,
                 Route_link text(255) NOT NULL,
                 Bus_name text(225) NOT NULL,
                 Bus_type text(255) NOT NULL,
                 Seat_availability int(5),
                 Departing_time time(6) NOT NULL,
                 Duration text(255) NOT NULL,
                 Reaching_time time(6) NOT NULL,
                 Star_rating Float NULL,
                 price decimal(5,2)
                                  )''')

In [ ]:
import pandas as pd
data=pd.read_csv(r"D:\total project\bus_data.csv")
new=data.drop(["Unnamed: 0"],axis=1)
new

In [7]:
mycursor.execute("use project")

In [9]:



insert_data=('''insert into red_bus(
                             bus_name,
                             bus_type,
                             Departing_time,
                             Duration,
                             Reaching_time,
                             Star_rating,
                             price,
                             seat_availability,
                             Route_link,
                             route_name                             
                             )values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)''')
data1=new.values.tolist()
mycursor.executemany(insert_data,data1)
mydb.commit()

In [8]:
mycursor.execute("truncate red_bus")